$navy_blue: rgb(2, 22, 56);
$navy_blue_1: rgba(2, 22, 56, 0.1);
$navy_blue_5: rgba(2, 22, 56, 0.5);

$blue: rgba(59, 201, 251, 1);
$blue_1: rgba(59, 201, 251, 0.1);
$blue_5: rgba(59, 201, 251, 0.5);

$yellow: rgba(254, 200, 70, 1);
$yellow_1: rgba(254, 200, 70, 0.1);
$yellow_5: rgba(254, 200, 70, 0.5);
$yellow_4: rgba(253, 176, 34, 1);

$pink: rgba(235, 81, 90, 1);
$pink_1: rgba(235, 81, 90, 0.1);
$pink_5: rgba(235, 81, 90, 0.5);

$green: rgba(104, 217, 140, 1);
$green_1: rgba(104, 217, 140, 0.1);
$green_5: rgba(104, 217, 140, 0.5);

$success_green_5: rgba(236, 253, 243, 1);
$success_green_7: rgba(2, 122, 72, 1);

$purbal: rgba(127, 86, 217, 1);
$purbal_700: rgba(105, 65, 198, 1);
$purbal_500: rgba(158, 119, 237, 1);
$purbal_600: rgba(127, 86, 217, 1);
$purbal_100: rgba(244, 235, 255, 1);
$purbal_1: rgba(127, 86, 217, 0.1);
$purbal_5: rgba(127, 86, 217, 0.5);
$purbal_50: rgba(249, 245, 255, 1);

$dark_blue: rgba(16, 24, 40, 1);
$dark_blue_1: rgba(16, 24, 40, 0.1);
$dark_blue_5: rgba(16, 24, 40, 0.5);

$gray_1000: rgba(242, 244, 247, 1);
$gray_3000: rgba(208, 213, 221, 1);
$gray_5000: rgba(102, 112, 133, 1);
$gray_4000: rgba(152, 162, 179, 1);
$gray_7000: rgba(52, 64, 84, 1);
$gray_9000: rgba(16, 24, 40, 1);

$white: white;
$blck: black;

$mask_color: rgba(0, 0, 0, 0.2);

$background_color: #f4f4f4;
