$navy_blue: rgb(2, 22, 56);
$navy_blue_1: rgba(2, 22, 56, 0.1);
$navy_blue_5: rgba(2, 22, 56, 0.5);

$blue: rgba(59, 201, 251, 1);
$blue_1: rgba(59, 201, 251, 0.1);
$blue_5: rgba(59, 201, 251, 0.5);

$yellow: rgba(254, 200, 70, 1);
$yellow_1: rgba(254, 200, 70, 0.1);
$yellow_5: rgba(254, 200, 70, 0.5);

$pink: rgba(235, 81, 90, 1);
$pink_1: rgba(235, 81, 90, 0.1);
$pink_5: rgba(235, 81, 90, 0.5);

$green: rgba(104, 217, 140, 1);
$green_1: rgba(104, 217, 140, 0.1);
$green_5: rgba(104, 217, 140, 0.5);

$white: white;
$blck: black;

$mask_color: rgba(0, 0, 0, 0.2);

$background_color: #f4f4f4;
