@import './variables.scss';
// Maping scss vaiable to css variable
:root {
  // Colors
  --primary_color: #{$purbal};
  --primary_color_50: #{$purbal_50};
  --primary_color_100: #{$purbal_100};
  --primary_color_700: #{$purbal_700};
  --primary_color_500: #{$purbal_500};
  --primary_color_600: #{$purbal_600};
  --primary_color_1: #{$purbal_1};
  --primary_color_5: #{$purbal_5};

  --blue: #{$blue};
  --blue_1: #{$blue_1};
  --blue_5: #{$blue_5};

  --yellow: #{$yellow};
  --yellow_1: #{$yellow_1};
  --yellow_5: #{$yellow_5};

  --gray_1000: #{$gray_1000};
  --gray_3000: #{$gray_3000};
  --gray_4000: #{$gray_4000};
  --gray_5000: #{$gray_5000};
  --gray_7000: #{$gray_7000};
  --gray_9000: #{$gray_9000};

  --success_5: #{$success_green_5};
  --success_7: #{$success_green_7};

  --pink: #{$pink};
  --pink_1: #{$pink_1};
  --pink_5: #{$pink_5};

  --green: #{$green};
  --green_1: #{$green_1};
  --green_5: #{$green_5};

  --warning_4: #{$yellow_4};

  --white: #{$white};
  --blck: #{$blck};

  --mask_color: #{$mask_color};
  --background_color: #{$background_color};

  // TYPOGRAPHY
  --font_family: #{$font_family};
  --qoute_font: #{$qoute_font};
  --base_FS: #{$base_FS}; //1.4rem
  --l_FS: #{$l_FS}; //1.6rem
  --primary_fc: #{$navy_blue};
  --secondary_fc: #{$navy_blue_5};
  --reverse_fc: #{$white};

  --normal-font-weight: #{$normal-font-weight}; //500
  --light-font-weight: #{$light-font-weight}; //400
  --bold-font-weight: #{$bold-font-weight}; //700
  --heavy-bold-font-weight: #{$heavy-bold-font-weight}; //900
  --semi-bold-font-weight: #{$semi-bold-font-weight}; //600
  --line-height: #{$line-height}; //2rem

  // components
  --button-radius: 0.8rem;
  --medium-border-radius: 1.6rem;
  --layout-container: 84.44%;

  //Breakpoints
  --xs: #{$xs}; //600px
  --sm: #{$sm}; //768px
  --md: #{$md}; //992px
  --lg: #{$lg}; //1200px
  --xl: #{$xl}; //1600px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

router-outlet {
  margin: auto;
}
html {
  font-family: $font_family;
  font-size: 10px;
  color: $primary_fc;
  background-color: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;

  @media all and (width <= $sm) {
    font-size: 8px;
  }
}

.layout-container {
  max-width: var(--layout-container);
  margin: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  color: var(--primary_color_600);
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 0.8rem;
}

input {
  border: none;
  outline: none;
}
