// typo styles for any text in the app
// line height , font weight , font size , font family , font color , font style , text align , text decoration , text transform , text overflow , text shadow , text indent , letter spacing , word spacing , white space , vertical align , list style , list style type , list s
// --------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font_family: 'Inter', sans-serif;
$qoute_font: $font_family;
$base_FS: 1.4rem;
$primary_fc: $navy_blue;
$reverse_fc: $white;
$secondary_fc: $navy_blue_5;

$normal-font-weight: 500;
$light-font-weight: 400;
$bold-font-weight: 700;
$line-height: 2rem;
