<nav>
    <div class="layout-container">
        <div
            class="nav-content d-flex justify-content-between align-items-center"
        >
            <div class="nav-left">
                <div class="nav-logo">
                    <a>
                        <img src="assets/images/logo.png" alt="logo" />
                    </a>
                </div>
            </div>
            <div class="nav-right">
                <div class="nav-links d-flex">
                    <a routerLink="#">Become a mentor</a>
                    <a [routerLink]="'../' + paths.DISCOVER">Find a mentor</a>
                    <div class="auth-links d-flex">
                        <a [routerLink]="'../' + paths.AUTH__SIGN_IN">Login</a>
                        <p-button
                            [routerLink]="'../' + paths.AUTH__SIGN_UP"
                            styleClass="p-button-primary signup-button-text w-full flex justify-content-center"
                        >
                            Sign up
                        </p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
