<nav>
    <div class="layout-container">
        <div
            class="nav-content d-flex justify-content-between align-items-center"
        >
            <div class="nav-left">
                <div class="nav-logo">
                    <a>
                        <img src="assets/images/logo.png" alt="logo" />
                    </a>
                </div>
            </div>
            <div class="nav-right">
                <div class="nav-links d-flex">
                    <a>Become a mentor</a>
                    <a>Find a mentor</a>
                    <div class="auth-links d-flex">
                        <a>Login</a>
                        <p-button
                            styleClass="p-button-primary signup-button-text w-full flex justify-content-center"
                        >
                            Signup
                        </p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
