@import '../../../../../assets/styles/theme-base/variables.scss';
.grid {
    .card {
        .steps-info {
            font-size: var(--base_FS);
            font-weight: var(--light-font-weight);
            margin-bottom: 1rem;
        }

        .p-steps ul {
            gap: 1rem !important;
            .p-steps-item {
                height: 5px !important;
                width: 80% !important;
                max-width: 10rem;
                background-color: $navy_blue_1 !important;
                border-radius: 3px;
                overflow: hidden;

                &.p-steps-current {
                    background-color: $yellow !important;
                }
                &::before {
                    display: none !important;
                }
                a {
                    width: 100%;
                    opacity: 0;
                    display: block;
                    overflow: hidden;
                }
            }
        }
    }
}
