<div class="h-full">
  <div class="card h-full">
    <div class="step-container">
      <div class="step-content">
        <ng-container *ngIf="steprSerivce.currentStep$ | async as currentStep">
          <ng-container
            *ngIf="
              currentStep &&
              $any(steprSerivce.stepsItems)[currentStep - 1] as currentStepItem
            "
          >
            <div class="intro">
              <h1>{{ currentStepItem!.intro.header }}</h1>
              <p>{{ currentStepItem!.intro.description || '' }}</p>
            </div>
            <p class="steps-info">
              Step {{ currentStep }} of {{ steprSerivce.totalSteps }}
            </p>
            <p-steps
              [model]="steprSerivce.stepsItems"
              [readonly]="true"
            ></p-steps>
          </ng-container>
        </ng-container>
        <router-outlet class="hide"></router-outlet>
      </div>
    </div>
    <div class="banner">
      <!-- TODO : Should be replaced with dynamic content -->
      <app-registration-banner></app-registration-banner>
    </div>
  </div>
</div>
