<div class="content">
	<div class="header text-center">
		<div class="icon">
			<img src="assets/icons/reset-password-icon.png"
				alt>
		</div>
		<h1>Reset Password</h1>
		<p class="description">
			Create a new secure password for your account. Make sure it's strong and unique
      to keep your account safe.
		</p>
	</div>

	<div class="password-form">
		<form [formGroup]="resetPasswordForm"
			autocomplete="off"
			role="presentation">
			<span class="p-float-label pass-input">
				<p-password [feedback]="false"
					formControlName="password"></p-password>
				<label for="password">New Password</label>
			</span>
			<small class="p-error" *ngIf="getErrorMessage('password')">
				{{ getErrorMessage('password') }}
			</small>

			<span class="p-float-label pass-input">
				<p-password [feedback]="false"
					formControlName="confirmationPassword"></p-password>
				<label for="password">re-password</label>
			</span>
			<small class="p-error" *ngIf="getErrorMessage('confirmationPassword')">
				{{ getErrorMessage('confirmationPassword') }}
			</small>

			<p-button (onClick)="resetPassword()"
				[disabled]="!resetPasswordForm.valid"
				styleClass="p-button-primary reset-password p-button-text w-full flex justify-content-center">
				Reset
			</p-button>

			<div class="text-center back-login">
				<a [routerLink]="'/'+PATHS.AUTH__SIGN_IN"
					class="flex justify-content-center align-items-center text-decoration-none">
					Back to login
					<i class="pi pi-arrow-right"></i>
				</a>
			</div>
		</form>
	</div>
</div>
