@import '../../../../../assets/styles/theme-base/variables.scss';

.content {
    max-width: 40rem;
    margin: 0 auto;
    .header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 6rem;

        .icon {
            margin-bottom: 1.4rem;
        }

        h1 {
            font-weight: 700;
            font-size: 30px;
            line-height: 38px;
        }

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            text-transform: capitalize;
            color: $navy-blue-5;
        }
    }

    .password-form {
        input {
            margin-top: 0.7rem;
        }
        label {
            color: $primary_fc;
            font-weight: 300;
            font-size: 1.4rem;
            margin-top: -0.5rem;
            left: 1.2rem;
        }
    }
}
