<div class="content">
  <div class="header text-center">
    <div class="icon">
      <img src="assets/icons/reset-password-icon.png" alt="" />
    </div>
    <h1>Reset Password</h1>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur. Nec aenean pellentesque
      est porta gravida aliquam sed.
    </p>
  </div>

  <div class="password-form">
    <form autocomplete="off" role="presentation">
      <span class="p-float-label pass-input">
        <p-password [feedback]="false"></p-password>
        <label for="password">New Password</label>
      </span>

      <span class="p-float-label pass-input">
        <p-password [feedback]="false"></p-password>
        <label for="password">re-password</label>
      </span>

      <p-button
        styleClass="p-button-primary reset-password p-button-text w-full flex justify-content-center"
      >
        Reset
      </p-button>

      <div class="text-center back-login">
        <a
          [routerLink]="'/auth/sign-in'"
          class="flex justify-content-center align-items-center text-decoration-none"
        >
          Back to login
          <i class="pi pi-arrow-right"> </i>
        </a>
      </div>
    </form>
  </div>
</div>
