<div class="signup-container signup">
  <div class="signup-intro intro text-center">
    <h1 class="intro-header">Welcome to Mentorchief</h1>
    <p class="intro-desc">
      Lorem ipsum dolor sit amet consectetur. Nec aenean pellentesque
      est porta gravida aliquam sed.
    </p>
  </div>
  <div class="signup-social_buttons">
    <p-button
      type="button"
      styleClass="p-button-secondary p-button-text"
      [disabled]="isLoading || isSocialLoading"
      (onClick)="continueWithSocial(providers.GOOGLE)"
    >
      <span
        class="flex gap-3 align-items-center justify-content-center flex-1"
      >
        <img src="assets/images/helpers/Google.png" alt="Google" />
        <p class="button-label text-center">Continue with Google</p>
      </span>
    </p-button>
    <p-button
      type="button"
      styleClass="p-button-secondary p-button-text"
      [disabled]="isLoading || isSocialLoading"
      (onClick)="continueWithSocial(providers.GITHUB)"
    >
      <span
        class="flex gap-3 align-items-center justify-content-center flex-1"
      >
        <img
          width="30"
          src="assets/images/helpers/github.png"
          alt="github"
        />
        <p class="text-center button-label">Continue with Github</p>
      </span>
    </p-button>
  </div>
  <p-divider align="center" class="block divider">
    <div class="inline-flex align-items-center">
      <span>or</span>
    </div>
  </p-divider>

  <div class="signup-form">
    <form
      [formGroup]="signupForm"
      (ngSubmit)="registerWithEmail()"
      autocomplete="off"
      role="presentation"
    >
      <div class="input-container mb-5">
        <span class="p-float-label">
          <input
            class="w-full"
            pInputText
            id="signUp-email"
            name="email"
            type="email"
            formControlName="email"
            autocomplete="email"
          />
          <label htmlFor="signUp-email">Email</label>
        </span>
        <small class="p-error" *ngIf="getErrorMessage('email')">
          {{ getErrorMessage('email') }}
        </small>
      </div>

      <div class="input-container mb-5">
        <span class="p-float-label">
          <input
            class="w-full"
            pInputText
            id="signUp-password"
            name="password"
            type="password"
            formControlName="password"
            autocomplete="new-password"
          />
          <label htmlFor="signUp-password">Password</label>
        </span>
        <small class="p-error" *ngIf="getErrorMessage('password')">
          {{ getErrorMessage('password') }}
        </small>
      </div>

      <div class="input-container mb-5">
        <span class="p-float-label">
          <input
            class="w-full"
            pInputText
            id="signUp-confirmPassword"
            name="confirmPassword"
            type="password"
            formControlName="confirmPassword"
            autocomplete="new-password"
          />
          <label htmlFor="signUp-confirmPassword">Confirm password</label>
        </span>
        <small class="p-error" *ngIf="getErrorMessage('confirmPassword')">
          {{ getErrorMessage('confirmPassword') }}
        </small>
      </div>

      <p-button
        type="submit"
        [disabled]="signupForm.invalid || isLoading"
        styleClass="p-button-primary submit-email p-button-text w-full flex justify-content-center"
      >
        <ng-container *ngIf="!isLoading; else loadingLabel">
          Continue with email
        </ng-container>
        <ng-template #loadingLabel>Submitting...</ng-template>
      </p-button>

      <p class="hint">
        Already have an account ?
        <a class="mr-2 uppercase" [routerLink]="'/' + PATHS.AUTH__SIGN_IN">
          sign in
        </a>
      </p>
    </form>
  </div>
</div>
