<form [formGroup]="personalInfoForm">
  <div class="mb-6">
    <span class="p-float-label">
      <input
        class="w-full"
        formControlName="fullName"
        id="fullName"
        name="fullName"
        pInputText
      />
      <label htmlFor="fullName">Full name</label>
    </span>
    <small class="p-error d-block mt-2" *ngIf="getErrorMessage('fullName')">
      {{ getErrorMessage('fullName') }}
    </small>
  </div>
  <div class="mb-6">
    <p-dropdown
      [options]="cities"
      formControlName="city"
      optionLabel="name"
      placeholder="Where are you from"
      styleClass="w-full"
    ></p-dropdown>
    <small class="p-error d-block mt-2" *ngIf="getErrorMessage('city')">
      {{ getErrorMessage('city') }}
    </small>
  </div>
  <div class="mb-6">
    <span class="p-float-label">
      <p-inputMask
        formControlName="phoneNumber"
        mask="999-99999999"
        placeholder="(999)-99999999"
      ></p-inputMask>
      <label htmlFor="phone">Phone number</label>
    </span>
    <small class="p-error d-block mt-2" *ngIf="getErrorMessage('phoneNumber')">
      {{ getErrorMessage('phoneNumber') }}
    </small>
  </div>
  <div class="mb-6">
    <p class="gender">Gender</p>
    <span class="d-flex form-check">
      <label for="male">
        👦 Male
        <input
          formControlName="gender"
          id="male"
          name="gender"
          type="radio"
          value="male"
        />
      </label>
      <label for="female">
        👩 Female
        <input
          formControlName="gender"
          id="female"
          name="gender"
          type="radio"
          value="female"
        />
      </label>
    </span>
    <small class="p-error d-block mt-2" *ngIf="getErrorMessage('gender')">
      {{ getErrorMessage('gender') }}
    </small>
  </div>
</form>
<div class="controller d-flex gap-4">
  <p-button
    (click)="prevStep()"
    styleClass="p-button-primary p-button-text"
  >
    <- Back
  </p-button>
  <p-button
    (click)="nextStep()"
    [disabled]="!personalInfoForm.valid"
    styleClass="p-button-primary p-button-text"
  >
    Next ->
  </p-button>
</div>
