<div class="auth-slider">
    <p-carousel
        [value]="slides"
        [numVisible]="1"
        [circular]="true"
        [showNavigators]="false"
    >
        <ng-template let-product pTemplate="item">
            <div class="border-round">
                <div class="mb-3 relative">
                    <img
                        class="w-full"
                        [src]="product.imagePath"
                        [alt]="product.name"
                    />
                    <p class="mb-0 qoute">
                        {{ product.qoute }}
                    </p>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
