<router-outlet></router-outlet>
<!-- <button class="btn btn-primary">Testing Icon</button>

<h1>HEELLO FUCKEN {{ 'hello' | translate }}</h1> -->
<!-- <p-button label="Submit"></p-button>
<input type="text" pInputText placeholder="Placeholder" />
<p-inputNumber
    mode="decimal"
    [showButtons]="true"
    inputId="minmax-buttons"
    [min]="0"
    [max]="100"
    placeholder="Placeholder"
>
</p-inputNumber>
<p-checkbox [binary]="true" inputId="binary"></p-checkbox> -->

<!-- <app-auth-slider></app-auth-slider> -->
