<div [formGroup]="experincesForm">
  <div class="mb-6">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">WWW</span>
      <input
        type="text"
        pInputText
        class="portofolio-input"
        placeholder="Add to your portofolio"
        formControlName="portofolio"
      />
    </div>
    <small class="p-error d-block mt-2" *ngIf="getErrorMessage('portofolio')">
      {{ getErrorMessage('portofolio') }}
    </small>
  </div>
  <div formArrayName="experinces">
    <div
      class="mb-6 experinces-form-container"
      *ngFor="let experince of experinces.controls; let i = index"
      [formGroupName]="i"
    >
      <span class="delete" *ngIf="i !== 0">
        <i
          class="pi pi-times-circle"
          (click)="deleteExperince(i)"
        ></i>
      </span>
      <div class="mb-6">
        <span class="p-float-label">
          <input
            class="w-full"
            pInputText
            id="jobTitle"
            name="jobTitle"
            formControlName="jobtitle"
          />
          <label htmlFor="jobTitle">Job Title</label>
        </span>
        <small class="p-error d-block mt-2" *ngIf="getExperienceErrorMessage(i, 'jobtitle')">
          {{ getExperienceErrorMessage(i, 'jobtitle') }}
        </small>
      </div>
      <div class="mb-6">
        <span class="p-float-label">
          <input
            class="w-full"
            pInputText
            formControlName="workedat"
            id="workAt"
            name="workAt"
          />
          <label htmlFor="workAt">Worked at</label>
        </span>
        <small class="p-error d-block mt-2" *ngIf="getExperienceErrorMessage(i, 'workedat')">
          {{ getExperienceErrorMessage(i, 'workedat') }}
        </small>
      </div>
      <div class="mb-6">
        <span class="p-float-label">
          <p-inputNumber
            inputId="integeronly"
            formControlName="experienceyears"
            id="experienceyears"
            name="experienceyears"
            class="w-full"
            styleClass="w-full"
            [max]="50"
          />
          <label htmlFor="experienceyears">Experince years</label>
        </span>
        <small class="p-error d-block mt-2" *ngIf="getExperienceErrorMessage(i, 'experienceyears')">
          {{ getExperienceErrorMessage(i, 'experienceyears') }}
        </small>
      </div>
    </div>
  </div>
</div>

<p-button
  styleClass="p-button w-full d-flex gap-4 align-items-center justify-content-center mb-8 p-button-outlined"
  (click)="addExperince()"
>
  <i class="pi pi-plus-circle" style="font-size: 2rem"></i>
  Add Experince</p-button
>
<div class="controller d-flex gap-4">
  <p-button
    styleClass="p-button-primary p-button-text"
    (click)="prevStep()"
  >
    <- Back
  </p-button>
  <p-button
    styleClass="p-button-primary p-button-text"
    (click)="nextStep()"
    [disabled]="!experincesForm.valid"
  >
    Next ->
  </p-button>
</div>
