.p-inputgroup-addon {
    border: none;
    background-color: var(--primary_color_1);
    color: var(--primary_color);
}

.p-inputgroup-addon ~ input:enabled:focus {
    box-shadow: none;
    border-color: var(--primary_color_1);
}

.experinces-form-container {
    position: relative;
    .delete {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1000;
        background-color: var(--white);
        border-radius: 50%;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
        transform: translate(100%, -100%);
        font-size: 1.5rem;
        color: var(--primary_color);
        width: 1.5rem;
        height: 1.5rem;
        align-items: center;
        justify-content: center;
        display: none;
        border-bottom: 1px solid var(--primary_color_1);

        &:hover {
            background-color: var(--primary_color);
            color: var(--white);
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &:hover {
        .delete {
            display: flex;
        }
    }
}
