:host {
    display: flex;
    align-items: center;
}
.content {
    max-width: 40rem;
    margin: 0 auto;
    .header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 6rem;

        .icon {
            margin-bottom: 1.4rem;
        }

        h1 {
            font-weight: var(--bold-font-weight);
            font-size: 3rem;
            line-height: 3.8rem;
        }

        p {
            font-weight: var(--light-font-weight);
            font-size: var(--base_FS);
            line-height: 18px;
            text-align: center;
            text-transform: capitalize;
            color: var(--navy_blue_5);
        }
    }

    .email-form {
        form {
            .email-input {
                margin-bottom: 3rem;
            }
            p-button {
                margin-bottom: 3rem;
                display: block;
            }

            .back-login {
                font-size: var(--base_FS);
                font-weight: var(--normal-font-weight);
                a {
                    line-height: var(--line-height);
                    gap: 1.4rem;
                    i {
                        margin-top: 0.2rem;
                    }
                }
            }
        }
    }
}
