<div class="content">
	<div class="header text-center">
		<div class="icon">
			<img src="assets/icons/forget-password-icon.png"
				alt>
		</div>
		<h1>Forgot password</h1>
		<p class="description">
			Lorem ipsum dolor sit amet consectetur. Nec aenean pellentesque
      est porta gravida aliquam sed.
		</p>
	</div>

	<div class="email-form">
		<form [formGroup]="forgetPasswordForm"
			autocomplete="off"
			role="presentation">
			<span class="p-float-label email-input">
				<input class="w-full"
					pInputText
					id="email"
					name="email"
					formControlName="email">
				<label for="email">Email</label>
							<small class="p-error" *ngIf="getErrorMessage('email')">
				{{ getErrorMessage('email') }}
			</small>
			</span>


			<p-button (onClick)="sendResetEmail()"
				[disabled]="!forgetPasswordForm.valid"
				styleClass="p-button-primary forget-password p-button-text w-full flex justify-content-center">
				Send
			</p-button>

			<div class="text-center back-login">
				<a [routerLink]="'/'+PATHS.AUTH__SIGN_IN"
					class="flex justify-content-center align-items-center text-decoration-none">
					Back to login
					<i class="pi pi-arrow-right"></i>
				</a>
			</div>
		</form>
	</div>
</div>
