:host {
    width: 100%;
    display: flex;
    align-items: center;
}
.auth-layout {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 1rem;
    &__form-container {
        display: flex;
        justify-content: center;
        align-items: center;

        &-content {
            width: 100%;
            max-width: 63.33333333%;
            margin: 0 auto;
        }
    }
}
