@import '../../../../../assets/styles/theme-base/variables.scss';

.login-container {
    .login-intro,
    .intro {
        &-header {
            font-weight: 700;
            font-size: 3rem;
            line-height: 3.8rem;
            color: $navy_blue;
        }

        &-desc {
            margin-top: 0.5rem;
            font-size: 1.4rem;
            line-height: 1.8rem;
            text-transform: capitalize;
            color: $navy_blue_5;
        }
    }
    .login-social_buttons {
        margin-top: 3rem;
        p-button {
            display: grid;
            width: 100%;
            margin-bottom: 1.5rem;
            span {
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 2rem;
            }
        }
    }
    .login-form {
        input {
            margin-top: 0.5rem;
        }
        label {
            color: $primary_fc;
            font-weight: 300;
            font-size: 1.4rem;
            margin-top: -0.5rem;
            left: 1.2rem;
        }
        p-button {
            margin-top: 3rem;
            display: block;
        }

        .hint {
            margin-top: 1.4rem;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 2rem;
            text-align: center;
            a {
                color: $blue;
                font-weight: 800;
                text-decoration: none;
            }
        }
    }
}
