<div class="login-container login">
    <div class="login-intro intro text-center">
        <h1 class="intro-header">Welcome to Mentorchief</h1>
        <p class="intro-desc">
            Lorem ipsum dolor sit amet consectetur. Nec aenean pellentesque est
            porta gravida aliquam sed.
        </p>
    </div>
    <div class="login-social_buttons">
        <p-button styleClass="p-button-secondary p-button-text">
            <span
                class="flex gap-3 align-items-center justify-content-center flex-1"
            >
                <img src="assets/images/helpers/Google.png" alt="" />
                Continue with Google
            </span>
        </p-button>
        <p-button styleClass="p-button-secondary p-button-text">
            <span
                class="flex gap-3 align-items-center justify-content-center flex-1"
            >
                <img src="assets/images/helpers/Linkedin.png" alt="" />
                <p class="text-center">Continue with LinkedIn</p>
            </span>
        </p-button>
    </div>
    <p-divider align="center" class="mt-8 mb-7 block">
        <div class="inline-flex align-items-center">
            <b>or</b>
        </div>
    </p-divider>

    <div class="login-form">
        <form>
            <span class="p-float-label">
                <input
                    class="w-full"
                    pInputText
                    id="email"
                    autocomplete="off"
                />
                <label htmlFor="email">User name</label>
            </span>

            <p-button
                styleClass="p-button-primary submit-email p-button-text w-full flex justify-content-center"
            >
                Continue with email
            </p-button>

            <p class="hint">
                Already have an account ?
                <a class="mr-2" [routerLink]="'/'">LOGIN</a>
            </p>
        </form>
    </div>
</div>
