footer {
    padding: 4.8rem 0;
    .layout-container {
        div {
            display: flex;
            align-items: center;
        }
        .footer-left {
            img {
                height: 3rem;
            }
        }
        .footer-menu {
            .quick-links {
                li {
                    margin-right: 2.4rem;
                    margin-bottom: 0.5rem;
                    a {
                        color: var(--gray_5000);
                        font-size: var(--l_FS);
                        font-weight: var(--normal-font-weight);
                    }
                }
            }
        }
        .footer-right {
            @media all and (width <= 1053px) {
                text-align: center;
                display: block;
                width: 100%;
            }
            p {
                font-size: var(--l_FS);
                color: var(--gray_4000);
                font-weight: var(--light-font-weight);
            }
        }
    }
}
