<footer>
    <div
        class="layout-container d-flex justify-content-between flex-wrap gap-3"
    >
        <div class="footer-left">
            <div class="footer-logo">
                <img src="assets/images/logo.png" alt="logo" />
            </div>
        </div>
        <div class="footer-menu">
            <ul class="quick-links d-flex flex-wrap">
                <li>
                    <a [routerLink]="'#'">Find a mentor</a>
                </li>
                <li>
                    <a [routerLink]="'#'">Become a mentor</a>
                </li>
                <li>
                    <a [routerLink]="'../' + paths.AUTH__SIGN_UP">Signup</a>
                </li>
                <li><a [routerLink]="'../' + paths.AUTH__SIGN_IN">Login</a></li>
                <li>
                    <a [routerLink]="'#'">Privacy</a>
                </li>
            </ul>
        </div>
        <div class="footer-right">
            <p>© 2077 Mentor chef. All rights reserved.</p>
        </div>
    </div>
</footer>
