<footer>
    <div class="layout-container d-flex justify-content-between">
        <div class="footer-left">
            <div class="footer-logo">
                <img src="assets/images/logo.png" alt="logo" />
            </div>
        </div>
        <div class="footer-menu">
            <ul class="quick-links d-flex">
                <li><a>Find a mentor</a></li>
                <li><a>Become a mentor</a></li>
                <li><a>Signup</a></li>
                <li><a>Login</a></li>
                <li><a>Privacy</a></li>
            </ul>
        </div>
        <div class="footer-right">
            <p>© 2077 Mentor chef. All rights reserved.</p>
        </div>
    </div>
</footer>
