.lable {
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    font-size: 1.4rem;
    color: var(--primary_color);
}

.p-inputgroup-addon {
    padding: 1.2rem 2rem;
    font-size: var(--l_FS);
    color: var(--primary_color);
}
