$navy_blue: #021638;
$yellow: #fec846;
$blue: #3c68ff;
$pink: #eb515a;
$green: #68d98c;

$inpu_status_default: #cbd5e1;
$inpu_status_error: #ef4444;
$inpu_status_active: #3b82f6;
$inpu_status_disabled: #cbd5e1;
